INSERT INTO public.user_roles (user_id, role, is_active)
VALUES ('24b1fbd6-a3f4-4650-adc5-f2c0cc7a1145', 'member', true)
ON CONFLICT (user_id) DO UPDATE SET 
    role = EXCLUDED.role,
    is_active = EXCLUDED.is_active;
